version: "3.9"

services:
  react-app:
    image: "${IMAGE}"          # Passed from deploy.sh
    container_name: react-app
    restart: always
    ports:
      - "80:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 15s
      timeout: 5s
      retries: 5
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
